* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'circular_spotify_textblack';
    src: url('circularspotifytext-black-webfont.woff2') format('woff2'),
        url('circularspotifytext-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'circular_spotify_textlight';
    src: url('/fonts/circularspotifytext-light-webfont.woff2') format('woff2'),
        url('/fonts/circularspotifytext-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'circular_spotify_textmedium';
    src: url('/fonts/circularspotifytext-medium-webfont.woff2') format('woff2'),
        url('/fonts/circularspotifytext-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'circular_spotify_textbook';
    src: url('/fonts/circularspotifytext-book-webfont.woff2') format('woff2'),
        url('/fonts/circularspotifytext-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Circular Spotify Text';
    color: #fff;
    font-size: 16px;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
}

.container {
    padding: 0 50px;
}
